<section class="pr-0 pb-0">
    <div class="row  ml-0">
        <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 mt-0 p-0">

           <bem-mais-title></bem-mais-title>

        </div>

        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 mt-3">
            <div id="myDIV">
                <a id="btnDashLista" routerLink="list" routerLinkActive="active"
                    class="btnDash ">{{'ComercialNewGoalsList' | translate}}</a>
                <a id="btnDashMinhas" routerLink="form" routerLinkActive="active" class="btnDash "><i
                        class="fa fa-plus"></i> {{'ComercialNewGoalsNewGoal' | translate}}</a>
            </div>
        </div>
    </div>
</section>
<router-outlet></router-outlet>
