<div class="mb-12 col-md-12">
  <form [formGroup]="newGoalForm" (ngSubmit)="submit()">
    <div class="row mt-3">
      <div class="col-md-2 pr-0 pl-0">
        <div class="col-md-12">
          <label class="mb-0">{{'AggregatorListId' | translate}}</label>
        </div>
        <mat-form-field class="col-xl-12">
          <input matInput id="codeGoal" name="codeGoal" formControlName="code">
        </mat-form-field>
      </div>
      <div class="col-md-6 pr-0 pl-0">
        <div class="col-md-12">
          <label class="mb-0">{{'ComercialNewCampNewTitl' | translate}}</label>
        </div>
        <mat-form-field class="col-xl-12">
          <input matInput id="title" name="title" formControlName="title">
        </mat-form-field>
      </div>
      <div class="col-md-4 pr-0 pl-0">
        <div class="col-md-12">
          <label class="mb-0">{{'vend-consultavendas-vendedor' | translate}}</label>
        </div>
        <mat-form-field class="col-xl-12">
          <mat-select formControlName="saller">
            <mat-option *ngFor="let saller of sallers" [value]="saller" id="saller">
              {{ saller }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row pl-3">
      <div class="col-md-12">
        <label class="mb-0">{{'ComercialNewCampFilterVal' | translate}}</label>
      </div>


      <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 ">

        <mat-form-field class="example-full-width mt-4">
          <mat-label>{{'ComercialNewCampNewFrom' | translate}}:</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="validityStartDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

      </div>

      <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 ">

        <mat-form-field class="example-full-width mt-4">
          <mat-label>{{'ComercialNewCampNewTo' | translate}}:</mat-label>
          <input matInput [matDatepicker]="picker2" formControlName="validityEndDate">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>

      </div>

      <div class="mb-3 col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <div class="label-float">
          <label id="titleLabel">{{'ComercialSalesArgumentsInsur' | translate}}</label><br />
          <input type="text" name="insurance" id="insurance" placeholder=" " formControlName="insurance" />
        </div>
      </div>
      <div class="mb-3 col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 pr-0 mr-0">
        <div class="label-float">
          <label id="titleLabel">{{'ComercialNewCampNewVal' | translate}}</label><br />
          <input type="text" name="value" id="value" placeholder=" " formControlName="amount" />
        </div>
      </div>




    </div>



    <div class="row">
      <div class="mb-12 col-md-12">
        <div class="label-float">
          <label id="description-label">{{'ComercialTrainingStatisticDescr' | translate}}</label><br />
          <textarea id="description" name="description" formControlName="description">
          </textarea>
        </div>
      </div>
    </div>

    <div id="footer" class="footer-goals-btns">
      <button type="reset" class="btn btnDash" (click)="goBack()">
        {{'ComercialNewTrainingCancel' | translate}}
      </button>
      <button type="submit" class="btn btnDash active" [disabled]="formIsInvalid()">
        {{'ComercialSalesArgumentsCreateArgAdd' | translate}}
      </button>
    </div>
  </form>
</div>
