<section class="pr-0 pb-0">
    <div class="row  ml-0">
        <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-7 mt-0 p-0">


            <bem-mais-title></bem-mais-title>


        </div>

        <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-5 mt-2">
            <div id="myDIV">
                <a id="btnListProd" routerLink="list" routerLinkActive="active"
                    class="btnDash btn ">{{'MasterDealerStoreList' | translate}}</a>
                <a id="btnNewsProd" routerLink="create" routerLinkActive="active" class="btnDash btn"><i
                        class="fa fa-plus"></i>&nbsp;{{'MasterDealerNewStore' | translate}}</a>

            </div>
        </div>
    </div>
</section>
<router-outlet></router-outlet>