<section class="pr-0 pb-0">
    <div class="row  ml-0">
        <div class="col-12 col-sm-12 col-md-3 col-lg-4 col-xl-4 mt-0 p-0">
         
            <bem-mais-title></bem-mais-title>
                
        </div>

        <div class="col-12 col-sm-12 col-md-9 col-lg-8 col-xl-8 mt-3" *ngIf="!update">
            <div id="myDIV">
                <a routerLink="list-goals" routerLinkActive="active" class="btnDash">{{'goalsListTitle' | translate}}</a>
                <a routerLink="form-personal-goals" routerLinkActive="active" class="btnDash "><i class="fa fa-plus"></i> {{'AggregMyGoals' | translate}}</a>
                <a routerLink="form-sellers-goals" routerLinkActive="active" class="btnDash "><i class="fa fa-plus"></i> {{'ManagerGoalsSeller' | translate}}</a>
            </div>
        </div>
    </div>
</section>
<router-outlet></router-outlet>
