
<div class="row">
    <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 mt-0">
        <bem-mais-title></bem-mais-title>   
    </div>
    <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 pb-5 mt-3">
        <div id="myDIV">
            <a id="btnDashLista" routerLink="list" routerLinkActive="active"
            class="btnDash ">{{'ComercialNewCampTitlPag' | translate}}</a>
        <a id="btnDashMinhas" routerLink="form" routerLinkActive="active" class="btnDash "><i
                class="fa fa-plus"></i> {{'ComercialNewCampNew' | translate}}</a>
        </div>
    </div>
</div>




<router-outlet></router-outlet>
