<section class="pr-0 pb-0">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-3 col-lg-5 col-xl-6">

         <bem-mais-title></bem-mais-title>

        </div>

        <div class="col-12 col-sm-12 col-md-9 col-lg-7 col-xl-6 mt-2">
            <div id="myDIV">
                <a routerLink="performance" routerLinkActive="active"
                    class=" btn btnDash">{{'Performance' | translate}}</a>
                <a routerLink="campaigns-goals" routerLinkActive="active"
                    class="btn btnDash ">{{'Campaigns/Goals' | translate}}</a>
            </div>
        </div>
    </div>
</section>

<router-outlet></router-outlet>