.label-float {
  position: relative;
}

.label-float input {
  border: 0;
  border-bottom: 1px solid #d8d8d8;
  outline: none;
  font-size: 15px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-appearance: none;
  border-radius: 0;
  width: 100%;
  background: transparent;
}

.label-float input:focus {
  border-bottom: 2px solid #005aab;
}

.label-float input::placeholder {
  color: transparent;
}

.label-float select {
  border: 0;
  border-bottom: 1px solid #d8d8d8;
  outline: none;
  font-size: 15px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-appearance: none;
  border-radius: 0;
  width: 100%;
  background: transparent;
  padding: 0 !important;
}

.custom-select {
  height: 27px;
}
.label-float select:focus {
  border-bottom: 2px solid #005aab;
}

.label-float select::placeholder {
  color: transparent;
}

.label-float label {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
}

.label-float input:required:invalid + label:before {
  content: "*";
}
.label-float input:focus + label,
.label-float input:not(:placeholder-shown) + label {
  font-size: 13px;
  margin-top: 0;
  color: #005aab;
}

.label-float select:required:invalid + label:before {
  content: "*";
}
.label-float select:focus + label,
.label-float select:not(:placeholder-shown) + label {
  font-size: 13px;
  margin-top: 0;
  color: #005aab;
}

.bgTxtgreen {
  color: #62bc00;
}
.my-custom-scrollbar {
  position: relative;
  overflow: auto;
  padding: 5px 0px 8px 12px;
}

.label-float label {
 font-size: 15.35!important;
}
.table-wrapper-scroll-y {
  display: block;
  margin-left: -6px;
}
input {
  outline: 0;
  border-width: 0 0 1px;
  background: transparent;
  border-color: #005aab;
}
input:focus {
  background: transparent;
  border-color: #005aab;
}
input[type="text"] {
  font-size: 13px;
}
::-webkit-input-placeholder {
  font-size: 13px;
}
::-moz-placeholder {
  font-size: 13px;
}
:-ms-input-placeholder {
  font-size: 13px;
}
::placeholder {
  font-size: 13px;
}
select {
  outline: 0;
  border-width: 0 0 1px;
  background: transparent;
  border-color: #005aab;
}
.select {
  font-size: 13px;
}
/* remove the original arrow */
select.col-xl-12.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  /* no standardized syntax available, no ie-friendly solution available */
}

select + i.fa {
  float: right;
  margin-top: -30px;
  margin-right: 5px;
  /* this is so when you click on the chevron, your click actually goes on the dropdown menu */
  pointer-events: none;
  /* everything after this is just to cover up the original arrow */
  /* (for browsers that don't support the syntax used above) */
  padding-right: 5px;
}
.mbtn {
  border-radius: 5rem;
}
.mclose {
  color: red;
  opacity: 1;
}
.msuccess {
  background: #62bc00;
  border: 1px solid #62bc00;
  color: #fff !important;
}
.table-round-corner {
  margin-top: 15px;
  width: 100%;
  text-align: center;
  overflow: hidden;
  border-collapse: separate;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
table th,
table td {
  border: none;
}
.modal-footer
{
  border:none!important;
}

//modal
.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 !important;
  border-bottom: 0 !important ;
}

.bd-t-red {
  background-color: #ff3636;
  border-radius: 0.3rem 0.3rem 0 0;
  height: 7px;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.btn-br50 {
  border-radius: 50px !important;
}
.btn-center {
  margin: 2px;
  display: flex;
  justify-content: space-around;
}

.modal-content {
  margin: none !important;
  position: relative;
  margin-top: 25%;
}
.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: transparent;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}
.badge {
  border-radius: 50px !important;
  margin: auto;
}
.badge-success {
  background-color: #62bc00 !important;
}
.m-120 {
  margin-top: -120px;
  position: relative;
  z-index: 2;
}

.bd-t-blue {
  background-color: #005aab;
  border-radius: 0.3rem 0.3rem 0 0;
  height: 7px;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.badge-primary {
  background-color: #62bc00 !important;
  color: #fff;
}
.badge-secundary {
  background-color: #ff3636 !important;
  color: #fff;
}
.badge {
  font-weight: 100;
}

.color-grey {
  color: #787878;
}
.color-grey-light {
  color: #949494;
}

::ng-deep .label-float .mat-form-field-infix {
  border-top: 0px !important;
  padding: 0.25rem !important;
}

.lf-none {
  position: relative;
}

.lf-none input {
  outline: none;
  font-size: 15px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-appearance: none;
  border-radius: 0;
  width: 100%;
  background: transparent;
}

.lf-none input::placeholder {
  color: transparent;
}

.lf-none label {
  font-size: 1vw!important;
 }