@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

.wh{width: 20px;height: 20px;}

::ng-deep .ps-content {
  padding-top: 0.25rem !important;
}

.d-nonee{
  display: none !important;
}

.menu_ok {
  display: block;
}
.light-blue {
  background: rgba(231, 241, 250, 0.3);
}
.mb-3,
.my-3 {
  margin-bottom: 0.5rem !important;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}
.zIndex {
  position: absolute;
  z-index: 99999;
}

.active button#sidebarCollapse {
  transform: rotate(180deg);
}

.active .trophy {
  width: 41px;
  height: 25px;
  margin-top: 22px;
  padding: 2px;
  position: absolute;
}

.navbar {
  padding: 15px 10px;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

i {
  display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #005aab;
  color: #fff;
  transition: all 0.3s;
  border-radius: 0 25px 25px 0 !important;
  height: 100vh;
  position: fixed;
  z-index: 10;
}

#sidebar.active {
  min-width: 80px;
  max-width: 80px;
  text-align: center;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
  display: none;
}

#sidebar.active .sidebar-header strong {
  display: block;
}

#sidebar .sidebar-user-name {
  font-size: 15.36px;
  margin-top: -5px;
}

#sidebar .sidebar-user-name span {
  font-size: 15.36;
}

#sidebar .sidebar-user-name .bg-client {
  background: #ff3636;
  padding: 2px;
  border-radius: 20px;
  font-size: 0.8em;
  //max-width: 54%;
  margin: 5px;
}

#sidebar .sidebar-user-name .edit-profile {
  border: 1px solid #62bc00;
  padding: 4px 10px 8px 10px;
  border-radius: 50px;
  color: #62bc00;
  margin-top: 10px;
}




#sidebar ul li a {
  // padding: 10px;
  padding: 8px;
  height: 35px;
  display: block;
  font-size:15.35px;
  margin-left: 0 !important;
  margin-bottom: 0;
  // margin-top: -4px;
  margin-top: 0;
  border-radius: 50px 0 0 50px;

  span {
    position: relative;
    top: 0;
    left: 7px;
    font-size: 15.35px;
  }
}

#sidebar.active ul li a {
  padding: 20px 10px;
  text-align: center;
  font-size: 0.7em;
  margin-left: 3px;
}

#sidebar.active ul li a i {
  margin-right: 0;
  display: block;
  font-size: 0.8em;
  margin-bottom: 5px;
}

// menu ativado

.active#sidebar.active ul li a {
  margin-left: 12px !important;
  padding: 10px;
  height: 40px;
  display: block;
  font-size: 0.7em;
  margin-bottom: 7px;
  margin-top: -4px;
  border-radius: 50px 0 0 50px;
  width: 40px;

  span {
    display: none;
  }
}

.active#sidebar.active .trophy {
  position: absolute;
  right: 15px;
}

.active#sidebar.active .sidebar-user-wrap .thumb-wrap {
  border-radius: 100%;
  overflow: auto !important;
  padding: 4px 4px 8px 4px;
  margin-left: 5px;
  margin-right: 5px;
}

.active#sidebar.active .sidebar-user-wrap .thumb-wrap img {
  border-radius: 100%;
  border: 1px solid #979797;
}

.active#sidebar.active .img-fluid {
  max-width: 15px !important;
  height: auto;
}

.active#sidebar.active .thumb-wrap img {
  width: 45px;
  height: 45px;
}
.active .trophy {
  width: 20px;
  height: 20px;
  margin-top: 28px;
  padding: 0;
}
.active#sidebar.active .sidebar-user-name {
  font-size: 12px; /* margin-right: 20px; */
  text-align: center;
}
.active#sidebar.active .sidebar-user-name span {
  //font-size: 0.75vw;
}

.active#sidebar.active .edit-profile span {
  display: none;
}

.active#sidebar.active ul li a svg {
  color: #fff;
}
.active#sidebar.active ul li a i {
  font-size: 2em;
  margin-right: 15px;
}
#sidebar.active ul ul a {
  padding: 10px !important;
}
.active#sidebar.active.sidebar-user-wrap .sidebar-user-inner {
  display: inline-block;
  cursor: pointer;
  margin-top: -20px;
  max-width: 120%;
}

.active#sidebar.active .sidebar-user-name .edit-profile {
  width: 65%;
  margin-left: 9px;
}

.active#sidebar.active .sidebar-user-name .edit-profile .d-none {
  display: block !important;
}

.active#sidebar.active .sidebar-user-name .bg-client {
  max-width: 100%;
  margin: auto;
  margin-top: 5px;
}

.active#sidebar.active ul li a:hover {
  background-color: #f9f8f8;
  width: 40px;
  border-radius: 25px !important;
  padding: 0;
  color: #005aab;
  height: 40px;

  span {
    position: relative;
    top: -4px;
    display: none;
  }

  .material-icons {
    padding: 8px;
    margin-right: 90px;
  }

  ::before {
    top: -28px;
    left: -32px;
    position: relative;
  }
  ::after {
    top: 17px;
    left: -2px;
    position: relative;
  }
}

//banner
.border-banner {
  border-radius: 20px;
}

//termino

#sidebar.active .dropdown-toggle::after {
  top: auto;
  bottom: 10px;
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}

#sidebar .sidebar-header strong {
  display: none;
  font-size: 0.8em;
}

#sidebar ul.components {
  //padding: 20px 0;
  display: contents;
}

// #sidebar ul.components {

//     //padding: 20px;
//     display: grid;
//     margin: auto;
// }

// #sidebar ul li a {
//     padding: 10px;
//     height: 35px;
//     display: block;
//     font-size: 1vw;
//     margin-left: 60px;
//     margin-bottom: 0;
//     margin-top: -4px;
//     border-radius: 50px 0 0 50px;

//     span{position: relative;top:-4px;left: 7px;}

// }

.components li {
  list-style: none;
  position: relative;
  right: 0 !important;
}

.active#sidebar.active .components li {
  list-style: none;
  position: relative;
  right: 6px !important;
}

#sidebar ul li a {
  list-style: none;
  /* padding: 10px; */
  height: 35px;
  display: flex;
  font-size: 1vw;
  border-radius: 50px 0 0 50px;
  margin-bottom: 3px;
}

#sidebar ul li.active a {
  color: #005aab !important;
  height: 15px;
  margin-top: -2px;
}

.material-icons {
  font-size: 18px;
}

#sidebar ul li a:hover {
  background-color: #f9f8f8;
  border-radius: 25px;
  padding: 0;
  color: #005aab;
  width: 84%;
  //display: flow-root;
  margin-bottom: 3px;

  span {
    position: relative;
    top: 7px;
    left: 32px;
  }

  .material-icons {
    padding: 8px;
    /* margin-right: -15px; */
    /* display: flex; */
    position: absolute;
    /* right: 0;*/
  }

  ::before {
    content: "";
    width: 30px;
    float: right;
  }

  ::after {
    content: "";
    padding: 5px;
    background: transparent;
    width: 30px;
    height: 30px;
    float: right;
    border-radius: 0 100% 0 0;
    top: 17px;
    left: 144px;
    position: relative;
  }
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: transparent;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #7386d5;
}

a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  width: 100%;

  min-height: 100vh;
  transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

.img-fluid {
  /*max-width: 65% !important;*/
  height: auto;
}

.sidebar-user-wrap .sidebar-user-inner {
  display: inline-block;
  cursor: pointer;
  margin-top: -20px;
}

.trophy {
  width: 25px;
  height: 25px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  /* right: calc(30% - 5px); */
  bottom: 15px;
  /* margin-top: 70px; */
  right: 15px;
}

//cards

.card-body p {
  font-size: 0.8em;
}
.card-body span {
  font-size: 0.8em;
  margin-top: -10px;
  display: flex;
}

//scroll

.scrollbar {
  float: 0;
  max-height: 185px;
  overflow-y: scroll;
}

.force-overflow {
  min-height: 450px;
}

.padding {
  padding: 0 0 0 135px;
}

.scrollbar-content {
  float: 0;
  max-height: 100vh;
  //    overflow-y: scroll;
  padding: 0;
}

.force-overflow-content {
  min-height: 100vh;
}

/*
 *  STYLE 4
 */

#style-4::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
  background-color: transparent;
  border-radius: 10px;
}

#style-4::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
  margin-right: 8px;
}

#style-4::-webkit-scrollbar-thumb {
  background-color: rgba(112, 112, 112, 0.8);
  border: 1px solid transparent;
  border-radius: 10px;
}

.active {
  background: #fff;
  border-radius: 25px !important;
  color: #005aab !important;
  width: 84%;
}

@media screen and (min-width: 1600px) and (max-width: 1920px) {

  .trophy {
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    bottom: 15px;
    right: 33px;
}

  #sidebar {
    min-width: 300px;
    max-width: 300px;
  }
  .active#sidebar.active .sidebar-user-wrap .thumb-wrap {
    border-radius: 100%;
    overflow: auto !important;
    padding: 4px 4px 8px 4px;
    margin-left: 0;
    margin-right: 0;
  }
  .active#sidebar.active .trophy {
    position: absolute;
    right: 28px;
  }
  .active#sidebar.active .sidebar-user-wrap {
    border-bottom: 1px solid transparent;
    padding: 1.2rem .7rem;
    text-align: center;
    position: relative;
  }
  #sidebar .sidebar-user-name .bg-client {
    background: #ff3636;
    padding: 2px;
    border-radius: 20px;
    font-size: 0.7em;
    margin: 5px;
}
}

@media(max-width:1440px){

 

  @media(max-width: 1366px){

  

  }
  

}

@media (max-width: 1024px) {
  #sidebar ul li a {
    font-size: 1.3vw;
  }

  .active#sidebar.active .sidebar-user-name {
    font-size: 1.5vw; /* margin-right: 20px; */
    text-align: center;
  }
  


  #sidebar ul li a 
  span {
     
      font-size: 1.4vw;
    }

}

@media screen and (max-width: 768px) {
  .padding {
    padding: 0 0 0 95px;
  }
  .active#sidebar.active ul li a {
    margin-left: 20px;
    padding: 10px;
    height: 40px;
    display: block;
    
    margin-bottom: 0;
    margin-top: -4px;
    border-radius: 50px 0 0 50px;
  }

  #sidebar .sidebar-user-name {
    font-size: 2.1vw;
    margin-top: -5px;
  }
  #sidebar .sidebar-user-name span {
    font-size: 15.35px;
  }
  #sidebar .sidebar-user-name .edit-profile span {
    font-size: 1.6vw;
    font-weight: bold;
  }

  #sidebar ul li a {
    font-size: 15.35px;
  }
}

@media screen and(max-width:425px) and (min-width: 320px) {

  #sidebar ul li a 
  span {
     
      font-size: 15.35px;
    }

  #sidebar .sidebar-user-name {
    font-size: 3.1vw;
    margin-top: -5px;
  }

  #sidebar .sidebar-user-name span {
    font-size: 3.1vw;
  }

  #sidebar ul li a {
    font-size: 3.2vw;
  }

  #sidebar .sidebar-user-name .edit-profile span {
    font-size: 2.6vw;
    font-weight: bold;
  }

  .active#sidebar.active .sidebar-user-name {
    font-size: 4vw; /* margin-right: 20px; */
    text-align: center;
  }
  .active#sidebar.active .sidebar-user-name span {
    font-size: 3.5vw;
  }
}

.padding-close-mobile {
  padding: 0 0 0 95px;
}

.padding-close {
  padding: 0 0 0 95px;
}

.iconTop{
  font-size: 12px;
  flex-direction:column-reverse;
  margin-left: -6px;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;

}


.scrollIcon {
  max-width: 600px;
  width: 77px !important;
  margin-left: -36px !important;
}

//css para chrome
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  #sidebar ul li a {
    margin-left: 39px !important;
  }

  .components li {
    list-style: none;
    position: relative;
    right: 6px !important;
  }

  .active#sidebar.active ul li a {
    margin-left: 20px !important;
    padding: 10px;
    height: 40px;
    display: block;
    font-size: 0.7em;
    margin-bottom: 7px;
    margin-top: -4px;
    border-radius: 50px 0 0 50px;
    width: 40px;
  }

  .active#sidebar.active .components li {
    list-style: none;
    position: relative;
    right: none !important;
  }

  .scrollIcon {
    max-width: 600px !important;
    margin-left: 0 !important;
  }
}

.app {
  overflow: auto !important;
}
/* .red-width {
  width: 81.5%;

} */

@keyframes coluna {
  from {
    width: 94%;
  }

  to {
    width: 81.5%;
  }
}

@keyframes coluna2 {
  from {
    width: 81.5%;
  }

  to {
    width: 94.5%;
  }
}

.red {
  /* background: red;
  height: 100vh; */
  margin: 0 1%;
}
