<section class="mt-3">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="card mb-3 shadow-sm">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
                            <h5>{{ chartTitle }}</h5>
                        </div>
                        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                            <div class="text-right">
                                <ul>
                                    <li class="filter-button" *ngIf="filterId">
                                        <a id="filter-chartInfo" (click)="showFilter()">
                                            <small>{{'dash-cancel-filtrar' | translate}} &nbsp;</small>
                                            <i class="fa fa-sliders" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
                            <div class="chk-block-content">
                                <canvas *ngIf="chartInfoData" baseChart [datasets]="chartInfoData"
                                    [labels]="chartInfoLabels" [options]="chartInfoOptions" [legend]="chartInfoLegend"
                                    [chartType]="chartInfoType" [colors]="chartInfoColors"></canvas>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
                            <h6>{{'MasterDealerDashboardFinanSumm' | translate}}</h6>
                            <ul class="p-0 list-style">
                                <li class="d-flex justify-content-between border-bottom pb-3 pt-3"
                                    *ngFor="let i of chartInformations">
                                    <span>{{ i.name }}</span>
                                    <span>{{ format(i.value) }}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <form class="row mt-3" [formGroup]="formFilter" (ngSubmit)="filter()">
                    <div class="container mt-0 filter-chartInfo shadow" id="{{ filterId }}">
                        <div class="row pt-2 mb-2">
                            <div class="col-md-12">
                                <div class="row pr-0 pl-0">
                                    <div class="col-xl-12">
                                        <label>{{'dash-cancel-data' | translate}}</label>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-6 pr-0 pl-0">
                                        <mat-form-field class="col-xl-12">
                                            <input formControlName="startDate" matInput [matDatepicker]="pickerSalesDe"
                                                placeholder="{{'place-de' | translate}}">
                                            <mat-datepicker-toggle matSuffix [for]="pickerSalesDe">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #pickerSalesDe></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6 pr-0 pl-0">
                                        <mat-form-field class="col-xl-12 datePickerAte">
                                            <input formControlName="endDate" matInput [matDatepicker]="pickerSalesAte"
                                                placeholder="{{'place-ate' | translate}}">
                                            <mat-datepicker-toggle matSuffix [for]="pickerSalesAte">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #pickerSalesAte></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 pr-0 pl-0">
                                <div class="col-xl-12">
                                    <label for="period">{{'MasterDealerFilterConsultPeriod' | translate}}</label>
                                </div>
                                <mat-form-field class="col-xl-12">
                                    <mat-select matSelect id="period" name="period" formControlName="period">
                                        <mat-option value="1">Período 1</mat-option>
                                        <mat-option value="2">Período 2</mat-option>
                                        <mat-option value="3">Período 3</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 pr-0 pl-0">
                                <div class="col-xl-12">
                                    <label for="insurance">{{'ComercialSalesArgumentsInsur' | translate}}</label>
                                </div>
                                <mat-form-field class="col-xl-12">
                                    <mat-select matSelect id="insurance" name="insurance" formControlName="insurance">
                                        <mat-option value="1">Seguro 1</mat-option>
                                        <mat-option value="2">Seguro 2</mat-option>
                                        <mat-option value="3">Seguro 3</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 pr-0 pl-0">
                                <div class="col-xl-12">
                                    <label for="resale">{{'CompareStateResel' | translate}}</label>
                                </div>
                                <mat-form-field class="col-xl-12">
                                    <mat-select matSelect id="resale" name="resale" formControlName="resale">
                                        <mat-option value="1">Revendas 1</mat-option>
                                        <mat-option value="2">Revendas 2</mat-option>
                                        <mat-option value="3">Revendas 3</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="float-rigth">
                            <button class="btn btn-primary rounded-pill">
                                {{ "dash-cancel-filtrar" | translate }}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>