<div class="row">
    <div class="col-md-7 col-lg-7 col-xl-7 mt-0">
        <bem-mais-title></bem-mais-title>   
    </div>
    <div class="col-md-5 col-lg-5 col-xl-5 pb-5">
        <div id="myDIV">
            <a id="btnDashVendas" routerLinkActive="active" routerLink="vendas" class="btnDash btn">{{AbaVendasDash}}</a>
            <a id="btnDashCancelamento" routerLinkActive="active" routerLink="cancelamentos"
                class="btnDash btn">{{AbaCancelamentosDash}}</a>
            <a id="btnDashMetas" routerLinkActive="active" routerLink="metas" class="btnDash btn">{{AbaMetaDash}}</a>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
