<!-- Filtro -->
<section>
    <form class="row" [formGroup]="formFilter" (ngSubmit)="findGoals()">
        <div class="col-12 text-right pl-0">
            <ul class="pl-0">
                <li class="filter-button">
                    <a id="filter-goals"><small>{{'dash-cancel-filtrar' | translate}} &nbsp;</small><i
                            class="fa fa-sliders" aria-hidden="true"></i></a>
                </li>
                <div class="container mt-0">
                    <div class="filter-div filter-goals mt-0 shadow-sm">
                        <div class="row">
                            <div class="col-md-6 pr-0 pl-0">
                                <div class="col-xl-12">
                                    <label for="code">{{'ComercialNewGoalsFilterCdGoal' | translate}}</label>
                                </div>
                                <mat-form-field class="col-xl-12">
                                    <input matInput id="code" name="code" formControlName="code">
                                </mat-form-field>
                            </div>
                            <div class="col-md-6 pr-0 pl-0">
                                <div class="col-xl-12">
                                    <label for="profile">{{'ComercialNewGoalsFilterProf' | translate}}</label>
                                </div>
                                <mat-form-field class="col-xl-12">
                                    <mat-select name="profile" id="profile" formControlName="profile">
                                        <mat-option></mat-option>
                                        <mat-option value="{{ p.id }}" *ngFor="let p of profileList">{{ p.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 pr-0 pl-0">
                                <div class="col-xl-12">
                                    <label for="goal">{{'AggregatorFilterGoalName' | translate}}</label>
                                </div>
                                <mat-form-field class="col-xl-12">
                                    <input matInput id="goal" name="goal" formControlName="goal">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-12">
                                <div class="row pr-0 pl-0">
                                    <div class="col-xl-12">
                                        <label>{{'ComercialNewGoalsFilterVal' | translate}}</label>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-6 pr-0 pl-0">
                                        <mat-form-field class="col-xl-12">
                                            <input formControlName="validityStartDate" matInput
                                                [matDatepicker]="pickerSalesDe"
                                                placeholder="{{'place-de' | translate}}">
                                            <mat-datepicker-toggle matSuffix [for]="pickerSalesDe">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #pickerSalesDe></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6 pr-0 pl-0">
                                        <mat-form-field class="col-xl-12 datePickerAte">
                                            <input formControlName="validityEndDate" matInput
                                                [matDatepicker]="pickerSalesAte"
                                                placeholder="{{'place-ate' | translate}}">
                                            <mat-datepicker-toggle matSuffix [for]="pickerSalesAte">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #pickerSalesAte></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 pr-0 pl-0">
                                <div class="col-xl-12">
                                    <label for="valueGoal">{{'ComercialNewGoalsFilterGoalValue' | translate}}</label>
                                </div>
                                <mat-form-field class="col-xl-12">
                                    <input matInput id="valueGoal" name="goalAmount" formControlName="goalAmount">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">                            
                            <div class="col-md-4 pr-0 pl-0">
                                <div class="col-xl-12">
                                    <label for="uf">{{'ComercialInterestedPartnersUf' | translate}}</label>
                                </div>
                                <mat-form-field class="col-xl-12">
                                    <mat-select formControlName="state" matSelect (selectionChange)="change()" id="uf">
                                        <mat-option></mat-option>
                                        <mat-option *ngFor="let estado of estados" value="{{ estado.sigla }}">
                                            {{ estado.sigla }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-8 pr-0 pl-0">
                                <div class="col-xl-12">
                                    <label for="city">{{'ComercialInterestedPartnersCidade' | translate}}</label>
                                </div>
                                <mat-form-field class="col-xl-12">
                                    <mat-select formControlName="city" matSelect>
                                        <mat-option></mat-option>
                                        <mat-option *ngFor="let cidade of cidades" value="{{ cidade }}" id="city">
                                            {{ cidade.substr(8) }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="float-rigth">
                            <button class="btn btn-primary rounded-pill">
                                {{ "dash-cancel-filtrar" | translate }}
                            </button>
                        </div>
                    </div>
                </div>
            </ul>
        </div>
    </form>
</section>
<!-- Fim filtro -->
<mat-form-field class="col-12 p-0">
    <mat-label>{{'AggregatorSearchGoals' | translate}}</mat-label>
    <input matInput (keyup)="applyFilter($event)">
    <mat-icon matSuffix>search</mat-icon>
</mat-form-field>
<div class="hoverWrapper">
    <div id="hoverShow1" class="d-none">
        <h5>{{'AggregatorListWeeklStatement' | translate}}</h5>
        <div class="col-12 row p-0 m-0">
            <div class="col-5 p-0">
                <mat-form-field class="pt-0" style="width: 100%;">
                    <input matInput [matDatepicker]="pickerWeeklyStatement" placeholder="{{'place-de' | translate}}">
                    <mat-datepicker-toggle matSuffix [for]="pickerWeeklyStatement"></mat-datepicker-toggle>
                    <mat-datepicker #pickerWeeklyStatement></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-5 p-0 ml-5">
                <mat-form-field class="pt-0" style="width: 100%;">
                    <input matInput [matDatepicker]="pickerWeeklyStatement2" placeholder="{{'place-ate' | translate}}">
                    <mat-datepicker-toggle matSuffix [for]="pickerWeeklyStatement2"></mat-datepicker-toggle>
                    <mat-datepicker #pickerWeeklyStatement2></mat-datepicker>
                </mat-form-field>
            </div>
        </div>

        <section class="p-0 m-0" style="height: 210px;">
            <app-bar-line-chart [barLineChartData]="VolumeCancellationsData"
                [barLineChartLabels]="VolumeCancellationsLabels" [barLineChartOptions]="VolumeCancellationsOptions"
                [barLineChartType]="VolumeCancellationsType">
            </app-bar-line-chart>
        </section>

        <h5>{{'AggregatorListLastTrans' | translate}}</h5>
        <div class="col-12 small row p-0 m-0">
            <div class="col-4 p-0 m-0">
                <b>{{'AggregatorListOper' | translate}}</b><br>{{'AggregatorListInsrSale' | translate}}<br>{{'AggregatorListCancel' | translate}}<br>{{'AggregatorListInsrSale' | translate}}
            </div>
            <div class="col-4 p-0 m-0">
                <b>{{'AggregatorListType' | translate}}</b><br>RFD<br>{{'AggregatorListPetIns' | translate}}<br>{{'AggregatorListAutoIns' | translate}}
            </div>
            <div class="col-4 p-0 m-0"><b>{{'AggregatorListValue' | translate}}</b><br>R$ 15.000,00<br>R$ 2.300,00<br>R$
                9.900,00</div>
        </div>
    </div>
</div>

<app-table [dataSource]="dataSource" [displayedColumns]="displayedColumns" [columnsTitle]="columnsTitle"
    (recordDelete)='setRecordDelete($event)' (viewElement)="viewRecord($event)" (updateElement)="updateRecord($event)">
</app-table>

<!--Modal remover-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="bd-t-red"></div>
        <div class="modal-content bordertopModal">

            <div class="modal-header modalFormat">
                <img class="m-auto d-block" src="assets/img/deseja-descartar.png" />
            </div>
            <div class="modal-body">
                <h1 class="text-center">
                    {{'AggregatorListModal' | translate}}
                </h1>
            </div>
            <div class="row btn-center">
                <a href="#" class="col-4 badgeModal btn-br50 text-center p-3 border border-primary" data-dismiss="modal"
                    aria-label="Fechar">
                    {{'ComercialNewGoalsModalRemovNo' | translate}}
                </a>
                <a href="#" (click)="deleteRecord()" class="col-4 badgeModal badge-danger btn-br50 text-center p-3 "
                    data-dismiss="modal" aria-label="Fechar">
                    {{'ComercialNewGoalsModalRemovYes' | translate}}
                </a>
            </div>
        </div>
    </div>
</div>
<!--final remover-->