<form [formGroup]="partnerForm">
  <!--Register-->
  <div class="col-12 row">
    <div>
      <div class="position-relative col-12">
        <div class="grid-b-space">
          <h3>{{'ComercialSalesPartnersEditChangNv' | translate}}</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <h5>{{'ComercialSalesPartnersEditNvPart' | translate}}</h5>
  </div>
  <div class="mb-3 col-12 p-0">
    <div class="col-md-12 col-sm-12 radioInput">
      <div class="toggle">
        <input type="radio" name="level" formControlName="level" [value]="3" id="categoryGold" />
        <label for="categoryGold"><i class="fas fa-trophy mr-2"></i><i class="fas fa-trophy mr-2"></i><i
            class="fas fa-trophy mr-2"></i><small class="fontSM">Gold</small></label>
        <input type="radio" name="level" formControlName="level" [value]="2" id="categorySilver" />
        <label for="categorySilver"><i class="fas fa-trophy mr-2"></i><i class="fas fa-trophy mr-2"></i><small
            class="fontSM">Silver</small></label>
        <input type="radio" name="level" formControlName="level" [value]="1" id="categoryBronze" />
        <label for="categoryBronze"><i class="fas fa-trophy mr-2"></i><small class="fontSM">Bronze</small></label>
      </div>
    </div>
  </div>
  <div class="col-12 row">
    <div class="col-10 row" formGroupName="responsible">
      <div class="col-9">
        <div class="label-float">
          <label>{{'ComercialSalesPartnersEditFullName' | translate}}</label>
          <br />
          <input type="text" formControlName="name" />
        </div>
      </div>
      <div class="col-3">
        <div class="col-md-12 col-sm-12 radioInput">
          <div class="toggle" style="float:right;">
            <input type="radio" name="genre" formControlName="genre" value="M" id="genderMale" checked />
            <label for="genderMale">
              <i class="fas fa-male mr-2"></i>
              <small class="fontSM">{{'ComercialSalesPartnersEditGenM' | translate}}</small>
            </label>
            <input type="radio" name="genre" formControlName="genre" value="F" id="genderFemale" />
            <label for="genderFemale">
              <i class="fas fa-female mr-2"></i>
              <small class="fontSM">{{'ComercialSalesPartnersEditGenF' | translate}}</small>
            </label>
          </div>
        </div>
      </div>

      <div class="col-12 row">
        <div class="mb-3 col-6">
          <div class="label-float">
            <label>{{'ComercialSalesPartnersEditPhon' | translate}}</label>
            <br />
            <input type="text" formControlName="phone" />
          </div>
        </div>

        <div class="mb-3 col-6">
          <div class="label-float">
            <label>{{'ComercialSalesPartnersEditEmail' | translate}}</label>
            <br />
            <input type="text" formControlName="email" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="dropzone-wrapperr container col-md-12">
        <div class="dropzone-desc">
          <p>{{'edituser-arraste' | translate}}</p>
          <button type="submit" class="btn btn-darkk btn-lg btn-square ml-auto"><i
              class="fas fa-camera-retro fa-1x"></i></button>
        </div>
        <input type="file" name="img_logo" class="dropzone" (change)="onPictureChange($event)" accept="image/*">
      </div>
    </div>
  </div>
  <div class="col-12 pt-3">
    <h5>{{'ComercialSalesPartnersEditProfComp' | translate}}</h5>
  </div>
  <div class="col-12 p-0 m-0">
    <div class="col-12 row">
      <div class="mb-3 col-8">
        <div class="label-float">
          <label>{{'ComercialSalesPartnersEditCompName' | translate}}</label>
          <br />
          <input formControlName="corporateName" type="text" />
        </div>
      </div>
      <div class="mb-3 col-4">
        <div class="label-float">
          <label>{{'ComercialSalesPartnersEditCnpj' | translate}}</label>
          <br />
          <input formControlName="cnpj" type="text" />
        </div>
      </div>
    </div>
    <div class="col-12 row">
      <div class="mb-3 col-12">
        <div class="label-float">
          <label>{{'ComercialSalesPartnersEditCompFancNam' | translate}}</label>
          <br />
          <input formControlName="commercialName" type="text" />
        </div>
      </div>
    </div>
    <div class="col-12 row">
      <div class="mb-3 col-3">
        <div class="label-float">
          <label>{{'ComercialSalesPartnersEditCompCep' | translate}}</label>
          <br />
          <input formControlName="cep" type="text" />
        </div>
      </div>
      <div class="mb-3 col-9">
        <div class="label-float">
          <label>{{'ComercialSalesPartnersEditAddress' | translate}}</label>
          <br />
          <input formControlName="address" type="text" />
        </div>
      </div>
    </div>
    <div class="col-12 row">
      <div class="mb-3 col-1">
        <div class="label-float">
          <label>{{'ComercialSalesPartnersEditNumb' | translate}}</label>
          <br />
          <input formControlName="number" type="text" />
        </div>
      </div>
      <div class="mb-3 col-2">
        <div class="label-float">
          <label>{{'ComercialSalesPartnersEditAddrCompl' | translate}}</label>
          <br />
          <input formControlName="complement" type="text" />
        </div>
      </div>
      <div class="mb-3 col-4">
        <div class="label-float">
          <label>{{'ComercialSalesPartnersEditNeighborhood' | translate}}</label>
          <br />
          <input formControlName="neighborhood" type="text" />
        </div>
      </div>
      <div class="mb-3 col-4">
        <div class="label-float">
          <label>{{'ComercialSalesPartnersEditCity' | translate}}</label>
          <br />
          <input formControlName="city" type="text" />
        </div>
      </div>
      <div class="mb-3 col-1">
        <div class="label-float">
          <label>{{'ComercialSalesPartnersEditUf' | translate}}</label>
          <br />
          <input formControlName="state" type="text" />
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="col-12 row mb-4">
      <a routerLink="/private/comercial/interested-sales" class="btn btn-redz">{{'ComercialSalesPartnersEditGoBack' | translate}}</a>
      <button type="submit" class="btn btn-greenz btn-lg btn-square ml-auto" data-toggle="modal"
        data-target="#modalEditUser">{{'ComercialSalesPartnersEditSaveCh' | translate}}</button>
    </div>
  </div>
</form>

<div class="modal fade" id="modalEditUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">

  <div class="modal-dialog" role="document">
    <div class="bd-t-blue"></div>
    <div class="modal-content bordertopModal">

      <div class="modal-header modalFormat">
        <img class="img-fluid col-12 m-120" src="assets/img/confirmacao-feedback.png" />
      </div>
      <div class="modal-body">
        <h1 class="text-center"><b>Dados alterados com sucesso!</b></h1>
      </div>


      <a href="#" class="col-4 badge badge-success text-center p-3 " data-dismiss="modal" aria-label="Fechar">OK!</a>


    </div>
  </div>
</div>
